@import '../fx/gray-line';

.login{
    display: flex;
    align-content: center;
    justify-content: center;
}
.log-container{
    /* background-color:#ff9; */
    @include gray-line();
    padding:30px;
    padding-top: 0;
    width: 350px;
    margin-top: 50px;
    /* margin: 100px auto; */
}

.log-titulo{
    padding: 12px
}