@import '../fx/gray-line';
@import '../fx/blue-button';

.register{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.reg-container{
    @include gray-line();
    width: 350px;
    padding: 0px 35px 35px;
}

.reg-boton{
    @include blue-button();
}


.reg-form{
    background-color:#fff;
    /* padding:30px;
    //width: 30%;
    //margin: 50px auto; */
    input{
        @include gray-line()
    }
}