@import '../fx/gray-line';
/* COMUN
    .form__input
*/
.register{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.reg-container{
    @include gray-line();
    width: 350px;
    padding: 0px 35px 35px;
}

.reg-form{
    background-color:#fff;
}