.inicio-container{
    /* background-color:#ff9; */
    padding:30px;
    padding-top: 0;
    width: 350px;
    margin-top: 50px;
    /* margin: 100px auto; */
}

.inicio-titulo{
    padding: 12px
}

.body-inicio{
    display: flex;
    align-content: center;
    justify-content: center;
}

.inicio-form-boton{
    background-color: #3498DB ;
    color:white;
    margin: 10px 0;
    border: none;
}
